<!doctype html>

<html lang="en" ng-app="newsSummaryApp">
  <head>
    <meta charset="utf-8">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services/articleFactory.js"></script>
    <script src="js/services/articleService.js"></script>
    <script src="js/services/summaryService.js"></script>
    <title>News Summary</title>
  </head>

  <body>
    <div ng-controller="NewsSummaryController as controller">
      <article ng-repeat="article in controller.articles">
        <h3>{{ article.title }}</h3>
        <img ng-src="{{ article.photo }}"/>
        <button class="summary" ng-hide="showme" ng-click="controller.getSummary(article); showme=true">Read more</button>
        <div ng-show="showme" class="wrapper">
          <p>{{ article.articleSummary }}</p>
          <button class="hideSummary" ng-click="showme=false">Read less</button>
          <a href="{{ article.webUrl}}">Read full article</a>
        </div>
      </article>
    </div>
  </body>
</html>
